In [1]:
import pandas
import json

In [2]:
import pandas as pd
import shutil, os, glob
import pymongo
from pymongo import MongoClient
import json
import schedule
import time
# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

In [3]:
df = pd.concat(map(pd.read_csv, glob.glob('input' + '\*.csv')))
#Extract All source code
#https://stackoverflow.com/questions/20906474/import-multiple-csv-files-into-pandas-and-concatenate-into-one-dataframe

In [4]:
df.head()

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,ID
0,1965-01-02 00:00:00+00:00,13:44:18,19.246,145.616,Earthquake,131.6,6.0,ISCGEM860706
1,1965-01-04 00:00:00+00:00,11:29:49,1.863,127.352,Earthquake,80.0,5.8,ISCGEM860737
2,1965-01-05 00:00:00+00:00,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,ISCGEM860762
3,1965-01-08 00:00:00+00:00,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,ISCGEM860856
4,1965-01-09 00:00:00+00:00,13:32:50,11.938,126.427,Earthquake,15.0,5.8,ISCGEM860890

In [5]:
df.dtypes

Date          object
Time          object
Latitude     float64
Longitude    float64
Type          object
Depth        float64
Magnitude    float64
ID            object
dtype: object

In [9]:
# Before renaming the columns 
print(df.columns)

Index(['Date', 'Time', 'Latitude', 'Longitude', 'Type', 'Depth', 'Magnitude',
       'ID'],
      dtype='object')

In [11]:

df.rename(columns = {'Latitude':'lat', 'Longitude':'lng'}, inplace = True) 
   
# After renaming the columns 
print(df.columns)

Index(['Date', 'Time', 'lat', 'lng', 'Type', 'Depth', 'Magnitude', 'ID'], dtype='object')

# Before renaming the columns 
print(rankings_pd.columns) 
   
rankings_pd.rename(columns = {'test':'TEST', 'odi':'ODI', 
                              't20':'T20'}, inplace = True) 
   
# After renaming the columns 
print(rankings_pd.columns)

data_frame = pandas.read_csv(
    '../web/public/data/historical_colours_world.csv',
    parse_dates=[
        'last_update',
        'input_date',
        'date_photo',
    ],
    infer_datetime_format=True,
    na_values=['']
)

data_frame[data_frame.columns[:10]].head()

data_frame[data_frame.columns[10:20]].head()

In [33]:
data_frame[data_frame.columns[20:]].head()

,fu_observed,sd_depth,flagged_count,image
0,NaN,NaN,0.0,http://www.eyeonwater.org/media/eyeonwater_upl...
1,NaN,NaN,0.0,http://www.eyeonwater.org/media/eyeonwater_upl...
2,NaN,NaN,0.0,http://www.eyeonwater.org/media/eyeonwater_upl...
3,NaN,NaN,0.0,http://www.eyeonwater.org/media/eyeonwater_upl...
4,NaN,NaN,0.0,http://www.eyeonwater.org/media/eyeonwater_upl...

data_frame.dtypes

In [12]:
json_result_string = df.to_json(
    orient='records', 
    double_precision=12,
    date_format='iso'
)
json_result = json.loads(json_result_string)

In [13]:
geojson = {
    'type': 'FeatureCollection',
    'features': []
}
for record in json_result:
    geojson['features'].append({
        'type': 'Feature',
        'geometry': {
            'type': 'Point',
            'coordinates': [record['lng'], record['lat']],
        },
        'properties': record,
    })

In [14]:
with open('quake_geoJSON_fmt.json', 'w') as f:
    f.write(json.dumps(geojson, indent=2))