In [1]:
# import dependencies
import pandas as pd
import matplotlib as plt
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
import json
import requests as req
import random
import seaborn as sns
import math as math
import time
from citipy import citipy
warnings.filterwarnings('ignore')
from pygeocoder import Geocoder

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
# import files and upload them as dataframe
earthquakes_1 = pd.read_csv("Input/earthquakes.csv", encoding = "ISO-8859-1")

In [3]:
earthquakes_1.head()

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,NaN,NaN,6.0,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,NaN,NaN,6.2,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,NaN,NaN,5.8,MW,NaN,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic

In [4]:
#Keep selected columns
earthquakes = earthquakes_1[['Date','Time','Latitude','Longitude','Type','Depth','Magnitude','ID']]
earthquakes.head()

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,ID
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,6.0,ISCGEM860706
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,5.8,ISCGEM860737
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,ISCGEM860762
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,ISCGEM860856
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,5.8,ISCGEM860890

In [5]:
#results = Geocoder.reverse_geocode(earthqaukes['Latitude'][0], earthqaukes['Longitude'][0])
# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [6]:
earthquakes['City'] = ""
earthquakes['Country'] = ""

count = 0
for index, row in earthquakes.iterrows():
    near_city = citipy.nearest_city(row['Latitude'], row['Longitude']).city_name
    near_country = citipy.nearest_city(row['Latitude'], row['Longitude']).country_code
    earthquakes.set_value(index,"City",near_city)
    earthquakes.set_value(index,"Country",near_country)
earthquakes.head()

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,ID,City,Country
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,6.0,ISCGEM860706,airai,pw
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,5.8,ISCGEM860737,ternate,id
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,ISCGEM860762,pangai,to
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,ISCGEM860856,chuy,uy
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,5.8,ISCGEM860890,dapdap,ph

In [7]:
len(earthquakes)

23412

In [8]:
earthquakes['City']=earthquakes['City'].apply(lambda x: x.capitalize()) 
earthquakes['Country']=earthquakes['Country'].apply(lambda x: x.capitalize())

In [9]:
earthquakes.head()

,Date,Time,Latitude,Longitude,Type,Depth,Magnitude,ID,City,Country
0,1/2/1965,13:44:18,19.246,145.616,Earthquake,131.6,6.0,ISCGEM860706,Airai,Pw
1,1/4/1965,11:29:49,1.863,127.352,Earthquake,80.0,5.8,ISCGEM860737,Ternate,Id
2,1/5/1965,18:05:58,-20.579,-173.972,Earthquake,20.0,6.2,ISCGEM860762,Pangai,To
3,1/8/1965,18:49:43,-59.076,-23.557,Earthquake,15.0,5.8,ISCGEM860856,Chuy,Uy
4,1/9/1965,13:32:50,11.938,126.427,Earthquake,15.0,5.8,ISCGEM860890,Dapdap,Ph

In [10]:
# Save to CSV
earthquakes.to_csv("earthquakes_location.csv", index = False)